body {
    animation-name: box;
    animation-duration: 40s;
    /* animation-timing-function: linear; */
}
.header {
    border: 1px solid black;
    margin: 50px;
    padding: 250px;
    text-align: center;
}
@keyframes box {
    0% {background-color: red}
    25% {background-color: yellow}
    50% {background-color: blue}
    75% {background-color: orange}
    100% {background-color: green}
}
a {
    text-decoration: none;
    font-size: 35px;
    padding: 15px;
    margin: 20px;
    font-weight: bold;
    color: black;
    text-shadow: 4px 4px 20px white, 0 0 2px whitesmoke, 2px 2px 2px rgba(255, 255, 255, 0.768);
}